.product-section {
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 20px;
  }
  
  .text-content {
    flex: 1;
  }
  
  .product-image {
    max-width: 50%;
    height: auto;
  }
  